<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Clockworkgeek_Formelements>
            <version>0.0.0</version>
        </Clockworkgeek_Formelements>
    </modules>

    <global>
        <blocks>
            <formelements>
                <class>Clockworkgeek_Formelements_Block</class>
            </formelements>
        </blocks>
        <helpers>
            <formelements>
                <class>Clockworkgeek_Formelements_Helper</class>
            </formelements>
        </helpers>
        <models>
            <formelements>
                <class>Clockworkgeek_Formelements_Model</class>
            </formelements>
        </models>
    </global>

    <adminhtml>
        <layout>
            <updates>
                <formelements>
                    <file>clockworkgeek/formelements.xml</file>
                </formelements>
            </updates>
        </layout>
        <events>
            <adminhtml_product_attribute_types>
                <observers>
                    <formelements>
                        <class>formelements/observer</class>
                        <method>addProductAttributeTypes</method>
                        <type>singleton</type>
                    </formelements>
                </observers>
            </adminhtml_product_attribute_types>
            <adminhtml_catalog_product_edit_element_types>
                <observers>
                    <formelements>
                        <class>formelements/observer</class>
                        <method>addProductAttributeElements</method>
                        <type>singleton</type>
                    </formelements>
                </observers>
            </adminhtml_catalog_product_edit_element_types>
            <catalog_entity_attribute_save_before>
                <observers>
                    <formelements>
                        <class>formelements/observer</class>
                        <method>setAttributeBackendType</method>
                        <type>singleton</type>
                    </formelements>
                </observers>
            </catalog_entity_attribute_save_before>
        </events>
    </adminhtml>

    <frontend>
        <events>
            <catalog_helper_output_construct>
                <observers>
                    <formelements>
                        <class>formelements/output</class>
                        <method>addProductAttributeHandlers</method>
                        <type>singleton</type>
                    </formelements>
                </observers>
            </catalog_helper_output_construct>
        </events>
    </frontend>

    <default>
        <general>
            <validator_data>
                <input_types>
                    <formelements_color>color</formelements_color>
                    <formelements_email>email</formelements_email>
                    <formelements_number>number</formelements_number>
                    <formelements_url>url</formelements_url>
                    <formelements_mediaurl>mediaurl</formelements_mediaurl>
                    <formelements_widget>widget</formelements_widget>
                </input_types>
            </validator_data>
        </general>
    </default>
</config>
